.defaultlistholder {
    padding: 5px;
    width: calc(100% - 170px);
    margin-left: auto;
    padding-left: 8px;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    font-size: 1rem;
}

.subtext2 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: smaller;
    margin-left: auto;
    margin-right: auto;
}

.aex {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/aex.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.bex {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/bex.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.cex {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/cex.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.dex {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/dex.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.eex {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/eex.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.arf {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/arf.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.brf {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/brf.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.crf {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/crf.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.drf {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/drf.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.direct_imageguide {
    max-width: 500px;
    width: 100%;
}

.forceaddtach {
    background-color: #51116e;
}

.newstatus {
    background-image: url("https://dissidiacompendium.com/images/static/icons/misc/status_small.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.logo2 {
    height: 150px;
}

.erf {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/erf.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.Buffsubbanner2 {
    background: linear-gradient(90deg, #47ab9a 0%, #47ab9a 16%, rgba(77, 86, 97, 0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
    min-height: 45px;
}

.Debuffsubbanner2 {
    background: linear-gradient(90deg, #be3f52 0%, #be3f52 16%, rgba(77, 86, 97, 0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
    min-height: 45px;
}

.Buffsubbase2 {
    padding-top: 5px;
    background: linear-gradient(90deg, #346746f0 0%, #346746f0 16%, rgba(77, 86, 97, 0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.Debuffsubbase2 {
    padding-top: 5px;
    background: linear-gradient(90deg, #773040f0 0%, #773040f0 16%, rgba(77, 86, 97, 0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.defaultcondbase {
    margin-top: 5px;
    background: #4e2871;
}

.exp1 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp1.png");
}

.exp5 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp5.png");
}

.exp10 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp10.png");
}

.exp15 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp15.png");
}

.exp20 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp20.png");
}

.exp25 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp25.png");
}

.exp30 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp30.png");
}

.exp35 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp35.png");
}

.exp40 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp40.png");
}

.exp45 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp45.png");
}

.exp50 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp50.png");
}

.exp55 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp55.png");
}

.exp60 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp60.png");
}

.exp65 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp65.png");
}

.exp70 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp70.png");
}

.exp75 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp75.png");
}

.exp80 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp80.png");
}

.exp85 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp85.png");
}

.exp90 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp90.png");
}

.exp95 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp95.png");
}

.exp100 {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/exp100.png");
}

.newbluepassive {
    background: #294060
}

.contents {
    display: inline;
    text-decoration: underline;
}

.typeval {
    color: #68a8e0;
}

.abilityusesholder2 {
    display: table;
    padding-right: 5px;
    min-width: 90px;
    margin-top: auto;
    margin-bottom: auto;
}

.BoardPointIcon {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/BoardPoint.png);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.labelmax {
    max-width: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.idoffset {
    position: absolute;
    width: 145px;
    margin-top: -150px;
}

.trunrate {
    color: #2fc765f0
}

.default_passive {
    margin-top: 5px;
}

.Buffupgradedorg {
    background: linear-gradient(90deg, #346746f0 0%, #346746f0 16%, rgba(77, 86, 97, 0) 100%);
    display: block;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
    margin-top: 5px;
}

.upgradedorg2 {
    background: linear-gradient(90deg, #aa4411 0%, #aa4411 16%, rgba(77, 86, 97, 0) 100%);
    display: block;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
    margin-top: 5px;
    font-size: 1rem;
}

.unknown {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/unknown.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.stats {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/stats.png");
    width: 54px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.classcolor {
    background: #1e3758f0;
}

.not_numberbox {
    max-width: 150px;
    margin: auto;
    border: 1px solid #000;
    width: 212px;
    border-radius: 2rem;
    outline: none;
    height: 2rem;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    box-shadow: inset 0 0 2px #000;
    text-align: justify;
    white-space: nowrap;
}

.not_rangeholder {
    display: grid;
    padding-top: 5px;
}

.muliwrap {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.makespace {
    padding-right: 5px;
    padding-left: 5px;
}

.react-flow__edge-path {
    stroke: #1e3758f0 !important;
    stroke-width: 3 !important;
}

.react-flow__controls-button {
    background: linear-gradient(180deg, #ffffffa3 5.73%, rgba(142, 248, 230, 0.476923) 29.69%, rgba(39, 241, 207, 0) 47.92%, rgba(39, 241, 207, 0) 52.08%, #00b564 81.25%, #00b564 100%), #03a971 !important;
    border-bottom: 1px solid black !important;
    box-shadow: inset -2px -2px 4px #000000, inset 2px 0px 4px #93b3a8 !important;
}

.react-flow__node-default {
    border-color: #ffffff !important;
    border-radius: 10px !important;
    border: 2px solid black !important;
}

@media screen and (max-width: 700px) {
    .defaultlistholder {
        margin-left: 0px;
        margin-top: 10px;
        margin-left: 0px;
        width: calc(100% - 19px);
    }
}

@media screen and (max-width: 800px) {
    .upgradedorg2 {
        font-size: .8rem;
    }

    .defaultlistholder {
        font-size: .8rem;
    }

    .subtext2 {
        font-size: small;
    }
}