.toggleforabilities{
    padding-top: 8px;
    position: absolute;
    width: 145px;
    margin-top: 140px;
}
.toggleforminigear{
    position: absolute;
    width: 145px;
}

.abilityusesholder{
    display: table;
    width: 110px;
    margin-left: auto;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.abilityglreworkbanner{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient( 90deg, rgba(30, 55, 88, 0) 0%, rgba(30, 55, 88, 0.940205) 3.67%, rgba(30, 55, 88, 0.85) 96.44%, rgba(30, 55, 88, 0) 100%);
}

.abilityJPname{
    font-size: 12px;
    color: rgb(180, 180, 180);
}

.refineabilities{
    display: inline-block;
    padding-left: 0px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 500px;
}

.deleted  {background-color : LightPink;
    text-decoration  : line-through}
    
.inserted {background-color : PaleGreen}

.abilityspacearound {
    display: flex;
    align-items: center;
}

.bufflistbanner{
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    transition: .4s;
    width: calc(100% - 170px); 
    margin-left: auto;
    font-size: 1rem;
}

.gearbufflistbanner{
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    transition: .4s;
    width: calc(100% - 170px); 
    margin-left: auto;
    font-size: 1rem;
}

.bufflistbannerbattle{
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    transition: .4s;
    width: calc(100% - 216px); 
    margin-left: auto;
}

.rainbow_tag{
    height: 27px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 0 0 rgb(0, 0, 0)) drop-shadow(0 1px 0 rgb(0, 0, 0)) drop-shadow(0 -1px 0 rgb(0, 0, 0)) drop-shadow(-1px 0 0 rgb(0, 0, 0));
    -webkit-filter: drop-shadow(1px 0 0 #000000) drop-shadow(0 1px 0 #000000) drop-shadow(0 -1px 0 #000000) drop-shadow(-1px 0 0 #000000);
}

.undertaga{
    width: 54px;
    height: 27px;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.abilitydisplayfex{
    display: inline;
}
.abilitydisplayfex div{
    display: inline;
}
.sidewaystextholder{
    width: 1.5em;
    position: relative;
    display: inline-block;
    height: auto;
}
.usesmaker{
    display: flex;
    height: auto;
    margin-left: auto;
    border-left: 2px solid black;
    background: linear-gradient(90deg, rgba(30,55,88,1) 0%, rgba(30,55,88,0.9612219887955182) 16%, rgba(30,55,88,0) 100%);
}
.sidewaystext{
    text-align: center;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

.passiveinfobase{
    font-size: 1rem;
}

.abilityurlholder{
    text-decoration: none;
}
.abilityinfobase{
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    transition: .4s;
    min-height: 110px;
    width: calc(100% - 170px);
    margin-left: auto;
    font-size: 1rem;
}

.enemyabilityinfobase{
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    transition: .4s;
    min-height: 20px;
    width: calc(100% - 170px);
    margin-left: auto;
}

.abilityblspeed {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: -1em;
    position: sticky;
    z-index: 2;
    background: rgb(30,55,88);
    background: linear-gradient(0deg, rgba(30,55,88,1) 0%, rgba(30,55,88,0.8015581232492998) 64%, rgba(30,55,88,0) 100%);   
}

/*buff icons*/

.listbufficon{
    display: contents;
}
.ailmenttext{
    background: linear-gradient(90deg, rgba(77,86,97,1) 0%, rgba(77,86,97,0.9612219887955182) 16%, rgba(77,86,97,0) 100%);  
    display: block;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
}

.biconspacer{
    display: contents;
    width: 58px;
    height: 44px;
}

.abilitybufflist{
    list-style-type:none ;
    clear: both;
    padding: 0px;
    margin: 0px;
    display: contents;
    height: 44px;
}

.buffabilityrowiconholder{
    width: 58px;
    height: 50px;
    margin: 0px;
    display: table-cell;
    justify-content: center;
}

.abilitybufficonsholder{
    vertical-align: middle;
    width: 58px;
    height: 44px;
    display: inline-flex;
    filter: drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
}
.abilitybufficon{
    vertical-align: middle;
    margin: auto;
}
 

.Buffsubbanner{
    font-size: 1.2rem;
    background: linear-gradient( 90deg , #47ab9a 0%, #47ab9a 16%, rgba(77,86,97,0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
    margin-bottom: 5px;
}

.Debuffsubbanner{
    font-size: 1.2rem;
    background: linear-gradient( 90deg , #be3f52 0%, #be3f52 16%, rgba(77,86,97,0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
    padding-left: 2px;
    margin-bottom: 5px;
}


@media (hover: hover) {
    .buffactive:hover{
      transform: translateY(-1px);
      box-shadow: inset 0px 0px 0px 3px white, inset 0px 0px 10px 5px yellow;
      -webkit-box-shadow: inset 0px 0px 0px 3px white, inset 0px 0px 10px 5px yellow;
      -moz-box-shadow: inset 0px 0px 0px 3px white, inset 0px 0px 10px 5px yellow;
      border-radius: 5px;
      transition: all .2s;
    }
}
    
.buffactive{
    transition: all .2s;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 3px white, inset 0px 0px 10px 5px yellow;
    -webkit-box-shadow: inset 0px 0px 0px 3px white, inset 0px 0px 10px 5px yellow;
    -moz-box-shadow: inset 0px 0px 0px 3px white, inset 0px 0px 10px 5px yellow;
    border-radius: 5px;
}

.toggleforbuffabilities{
    padding-top: 8px;
    position: absolute;
    width: 145px;
}
.forcedtoggleforbuffabilities{
    padding-left: 0px;
    padding-top: 8px;
    position: inherit;
    width: 145px;
    margin-top: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .abilityinfobase{
        font-size: .6rem;
    }
    .passiveinfobase{
        font-size: .6rem;
    }
    .bufflistbanner{
        font-size: .6rem;
    }
    .gearbufflistbanner{
        font-size: .6rem;
    }
    .abilityJPname{
        font-size: .6rem;
    }
}
@media screen and (max-width: 700px) {
    .abilityJPname{
        font-size: .8rem;
    }
    .Buffsubbanner{
        font-size: 1rem;
    }
    .Debuffsubbanner{
        font-size: 1rem;
    }
    .forcedtoggleforbuffabilities{
        padding-top: 0px;
        width: 60px;
    }
    .toggleforbuffabilities{
        padding-left: 0px;
        padding-top: 0px;
        position: inherit;
        width: 60px;
        margin-top: 5px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .bufflistbanner{
        margin-left: 0px;
        width: auto;
        font-size: .8rem;
    }
    .gearbufflistbanner{
        width: auto;
        font-size: .8rem;
        margin-left: 0px;
    }
    .bufflistbannerbattle{
        margin-left: 0px;
        width: auto;
    }
    .abilityusesholder{
        width: 100px;
    }
    .undertaga{
        height: 24px;
        width: 48px
    }
    .ver_gl{
        height: 24px;
        width: 48px
    }
    .ver_jp{
        height: 24px;
        width: 48px
    }
    .rainbow_tag{
        height: 30px;
    }
    .abilityinfobase{
        margin-left: 0px;
        width: auto;
        min-height: auto;
        font-size: .8rem;
    }
    .passiveinfobase{
        font-size: .8rem;
    }
    .enemyabilityinfobase{
        margin-left: 0px;
        width: auto;
        min-height: auto;
    }
    .toggleforabilities {
        padding-top: 8px;
        position: inherit;
        width: 60px;
        margin-top: 5px;
        align-items: center;
    }
    .toggleforminigear {
        position: inherit;
        width: 60px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}