.enemyholder {
    transition: all .2s;
    transform-origin: 50% 0;
    margin-top: 5px;
    clear: both;
    padding: 10px;
}

.nonenemyholder {
    padding: 8px;
    transition: all .2s;
    transform-origin: 50% 0;
    margin-top: 5px;
    clear: both;
}

.directbuffholder {
    padding: 8px;
    transition: all .2s;
    transform-origin: 50% 0;
    margin-top: 5px;
    clear: both;
    padding-top: 8px;
    border-radius: 19px;
    background: #43517a;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.5), inset -5px 5px 4px rgba(0, 0, 0, 0.5), inset 0px -5px 4px rgba(0, 0, 0, 0.5);
}

.enemyholderstyling {
    padding-top: 8px;
    border-radius: 19px;
    background: #43517a;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.5), inset -5px 5px 4px rgba(0, 0, 0, 0.5), inset 0px -5px 4px rgba(0, 0, 0, 0.5);
}

.enemyholderli {
    width: 128px;
    height: 128px;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
    transition: all .2s;
}

.similarformating {
    padding: 0px;
    margin: 0 5px 5px 5px;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #8e8f8f 3.67%, #8e8f8f 96.44%, rgba(30, 55, 88, 0) 100%);
}

.enemycard {
    height: 128px;
    width: 128px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

@media (hover: hover) {
    .enemycard:hover {
        transform: translateY(-1px);
        transition: all .2s;
        cursor: pointer;
        -webkit-filter: drop-shadow(2px 2px 2px #222) brightness(1.1);
        filter: drop-shadow(2px 2px 2px #222) brightness(1.1);
    }
}

.smallJPflag {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/japan.svg);
    text-decoration: none;
    z-index: 2;
    position: absolute;
    margin-top: 108px;
    margin-left: -132px;
    height: 22px;
    text-decoration: none;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.lufflag {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/luf.png);
    text-decoration: none;
    z-index: 2;
    position: absolute;
    margin-top: 110px;
    margin-left: -26px;
    height: 22px;
    text-decoration: none;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.shinflag {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/Shinryu2.png);
    text-decoration: none;
    z-index: 2;
    position: absolute;
    margin-top: 110px;
    margin-left: -26px;
    height: 22px;
    text-decoration: none;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.lufplusflag {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/luf+.png);
    text-decoration: none;
    z-index: 2;
    position: absolute;
    margin-top: 110px;
    margin-left: -26px;
    height: 22px;
    text-decoration: none;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.enemytypes {
    display: inline-block;
    padding-left: 0px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
}

.enemytypes li {
    display: inline-block;
    margin-bottom: 5px;
}

.enemybutton {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 82px;
    height: 82px;
    background-repeat: no-repeat;
    position: static;
    cursor: pointer;
}

@media (hover: hover) {
    .enemybutton:hover {
        transform: translateY(-1px);
        transition: all .2s;
        cursor: pointer;
    }
}

.reverse {
    position: absolute;
    margin-top: 25px;
    margin-left: -68px;
    font-size: 40px;
}

@media (hover: hover) {
    .reverse:hover {
        transform: translateY(-1px);
        transition: all .2s;
        cursor: pointer;
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2);
    }
}

.darkerblue {
    background: #263252 !important;
}

.lufeniaPlusButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Lufenia+2.png');
}

.dimensionButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Dimension2.png');
}

.shinryuButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Shinryu2.png');
}

.spiritusButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Spiritus.png');
}

.lufeniaButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Lufenia2.png');
}

.reverseButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Reverse.png');
}

.lunaticButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Lunatic.png');
}

.hereticButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Heretic.png');
}

.jpButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/JPOnly.png');
}

.DetailsButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Details.png');
}

.glButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/GLOnly.png');
}

.manikinButton {
    background-image: url('https://dissidiacompendium.com/images/static/enemy/types/Manikin.png');
}

@media screen and (max-width: 800px) {
    .enemybutton {
        height: 61px;
        width: 61px;
        background-size: 61px;
    }

    .enemyholder {
        margin-top: 0;
        border-radius: 0 0 19px 19px;
        box-shadow: none;
        border-left: 3px solid #7a7a7a;
        border-right: 3px solid #7a7a7a;
        border-bottom: 3px solid #7a7a7a;
        padding: 0px;
    }

    .nonenemyholder {
        margin-top: 0;
        border-radius: 0 0 19px 19px;
        box-shadow: none;
        border-left: 3px solid #7a7a7a;
        border-right: 3px solid #7a7a7a;
        border-bottom: 3px solid #7a7a7a;
    }

    .directbuffholder {
        margin-top: 0;
        border-radius: 0 0 19px 19px;
        box-shadow: none;
    }

    .lufplusflag {
        margin-top: 77px;
        margin-left: -26px;
    }

    .lufflag {
        margin-top: 77px;
        margin-left: -26px;
    }

    .shinflag {
        margin-top: 77px;
        margin-left: -26px;
    }

    .smallJPflag {
        margin-top: 77px;
        margin-left: -100px;
    }

    .enemycard {
        height: 96px;
        width: 96px;
    }

    .enemyholderli {
        height: 96px;
        width: 96px;
    }
}