/*Buttons*/
.magictypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/magic.png");
    background-size: contain;
}

.rangedtypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/ranged.png");
    background-size: contain;
}

.meleetypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/melee.png");
    background-size: contain;
}

.aoetypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/group.png");
    background-size: contain;
}

.traptypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/trap2.png");
    background-size: contain;
}

.countertypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/counter.png");
    background-size: contain;
}

.followuptypebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/followup.png");
    background-size: contain;
}

.magicbutton {
    background-image: url(https://dissidiacompendium.com/images/static/icons/DMGType/DMGType_Magic_Icon.png);
}

.meleebutton {
    background-image: url(https://dissidiacompendium.com/images/static/icons/DMGType/DMGType_Melee_Icon.png);
}

.rangedbutton {
    background-image: url(https://dissidiacompendium.com/images/static/icons/DMGType/DMGType_Ranged_Icon.png);
}

.maxlevel {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/lv80.png");
}

.Firebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Fire.png");
    background-size: contain;
}

.Icebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Ice.png");
    background-size: contain;
}

.Thunderbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Thunder.png");
    background-size: contain;
}

.Waterbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Water.png");
    background-size: contain;
}

.Earthbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Earth.png");
    background-size: contain;
}

.Windbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Wind.png");
    background-size: contain;
}

.Darkbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Dark.png");
    background-size: contain;
}

.Holybutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Holy.png");
    background-size: contain;
}

.reworkbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/rework.png");
    background-size: contain;
}

.ldcharbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/ld.png");
    background-size: contain;
}

.frcharbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/fr.png");
    background-size: contain;
}

.btcharbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/bt.png");
    background-size: contain;
}

.ldextcharbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/ench4.png");
    background-size: contain;
}

.btpluscharbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/bt+m.png");
    background-size: contain;
}

.arm7pluscharbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/7a+.png");
    background-size: contain;
}

.arm7charbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/geartype/7a.png");
    background-size: contain;
}

.redcrystalbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Red.png");
    background-size: contain;
}

.bluecrystalbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Blue.png");
    background-size: contain;
}

.greencrystalbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Green.png");
    background-size: contain;
}

.yellowcrystalbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Yellow.png");
    background-size: contain;
}

.blackcrystalbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Black.png");
    background-size: contain;
}

.whitecrystalbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/White.png");
    background-size: contain;
}

.Redcrystalmini {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Red.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: static;
}

.Bluecrystalmini {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Blue.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: static;
}

.Greencrystalmini {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Green.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: static;
}

.Yellowcrystalmini {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Yellow.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: static;
}

.Blackcrystalmini {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/Black.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: static;
}

.Whitecrystalmini {
    background-image: url("https://dissidiacompendium.com/images/static/icons/crystalcolors/buttons/White.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    position: static;
}

.daggerbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Dagger.png");
    background-size: contain;
}

.swordbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Shortsword.png");
    background-size: contain;
}

.greatswordbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Longsword.png");
    background-size: contain;
}

.staffbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Staff.png");
    background-size: contain;
}

.gunbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Pistol.png");
    background-size: contain;
}

.fistbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Gloves.png");
    background-size: contain;
}

.throwingbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Boomerang.png");
    background-size: contain;
}

.spearbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Spear.png");
    background-size: contain;
}

.bowbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Longbow.png");
    background-size: contain;
}

.whipbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Whip.png");
    background-size: contain;
}

.otherbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/weapon/Other.png");
    background-size: contain;
}

.Tankbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Icon_Tank.png");
    background-size: contain;
}

.BRVControlbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Icon_BRV-Control.png");
    background-size: contain;
}

.BRVPoisonbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_BRVPoison.png");
    background-size: contain;
}

.BRVDamageResistbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_BRVResist.png");
    background-size: contain;
}

.BRVResistDownbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_BRVResistDown.png");
    background-size: contain;
}

.BRVShieldbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_BRVShield.png");
    background-size: contain;
}

.BRVRegenbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_BRVRegen.png");
    background-size: contain;
}

.Batterybutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Icon_Battery.png");
    background-size: contain;
}

.Debufferbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/buff/debuff_persondown_unframed.png");
    background-size: contain;
}

.Counterbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Icon_Counter.png");
    background-size: contain;
}

.DarkEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Dark.png");
    background-size: contain;
}

.DarkImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Dark.png");
    background-size: contain;
}

.HolyEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Holy.png");
    background-size: contain;
}

.HolyImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Holy.png");
    background-size: contain;
}

.WindEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Wind.png");
    background-size: contain;
}

.WindImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Wind.png");
    background-size: contain;
}

.EarthEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Earth.png");
    background-size: contain;
}

.EarthImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Earth.png");
    background-size: contain;
}

.WaterEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Water.png");
    background-size: contain;
}

.WaterImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Water.png");
    background-size: contain;
}

.ThunderEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Thunder.png");
    background-size: contain;
}

.ThunderImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Thunder.png");
    background-size: contain;
}

.IceEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Ice.png");
    background-size: contain;
}

.IceImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Ice.png");
    background-size: contain;
}

.FireEnchantbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Up/Fire.png");
    background-size: contain;
}

.FireImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/elements/Down/Fire.png");
    background-size: contain;
}

.MagicImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_MagicImperil.png");
    background-size: contain;
}

.MeleeImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_MeleeImperil.png");
    background-size: contain;
}

.RangedImperilbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_RangedImperil.png");
    background-size: contain;
}

.DebuffDelaybutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_DebuffDelayer.png");
    background-size: contain;
}

.DeleteTurnsbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_DeleteTurns.png");
    background-size: contain;
}

.Disablebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Icon_Disable.png");
    background-size: contain;
}

.HPHealAbilitybutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_HP_Heal_Ability.png");
    background-size: contain;
}

.FiftyHPHealAbilitybutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Fifty_HP_Heal_Ability.png");
    background-size: contain;
}

.ForceBreakbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_ForcedBreak.png");
    background-size: contain;
}

.FourDebuffbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_4Debuffer.png");
    background-size: contain;
}

.HPDamageResistbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_HPResist.png");
    background-size: contain;
}

.HPResistDownbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_HPResistDown.png");
    background-size: contain;
}

.HPPoisonbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_HPPoison.png");
    background-size: contain;
}

.HPRegenbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_HPRegen.png");
    background-size: contain;
}

.Launcherbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_KnockBack.png");
    background-size: contain;
}

.SixBuffsbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_SixBuffs.png");
    background-size: contain;
}

.ThreeDelaybutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_3Delay.png");
    background-size: contain;
}

.Trapbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Trap.png");
    background-size: contain;
}

.TwoAbilitiesRecoverbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Two_Abilities_Recover.png");
    background-size: contain;
}

.CritRateUpbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Crit_Rate_Up.png");
    background-size: contain;
}

.Evadebutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/buff/buff_dodge_unframed.png");
    background-size: contain;
}

.Ignore_DEFbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Ignore_DEF.png");
    background-size: contain;
}

.KO_Preventbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_KO_Prevent.png");
    background-size: contain;
}

.Reviverbutton {
    background-image: url("https://dissidiacompendium.com/images/static/icons/roles/Role_Reviver.png");
    background-size: contain;
}

.characterclasses {
    display: inline-block;
    padding-left: 0px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 420px;
}

.infoiconholderbutton {
    width: 58px;
    height: 50px;
    margin: 0px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    background-repeat: no-repeat;
    position: static;
    cursor: pointer;
}

.characterclassesbutton {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    background-repeat: no-repeat;
    position: static;
    cursor: pointer;
}

.rolesforforce {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    background-repeat: no-repeat;
    position: static;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

/*end buttons*/
.margeholder {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    width: 256px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #3f5b92 3.67%, #3f5b92 96.44%, rgba(30, 55, 88, 0) 100%);
    filter: drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
}

.Merge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 145px;
    margin: auto;
    color: white;
}

.MergeBox {
    height: 22px;
    width: 22px;
    margin-left: 8px;
    filter: drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
}

.crystalbutton {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    background-repeat: no-repeat;
    position: static;
    cursor: pointer;
}

.greentext {
    color: #03690a;
}

.redtext {
    color: #920101;
}

.textloc1 {
    font-size: 10px;
    text-align: center;
    z-index: 3;
    position: absolute;
    margin-top: 9px;
    margin-left: -55px;
    height: 22px;
    display: inherit;
    text-shadow: none;
    font-weight: bold;
    line-height: 100%;
}

.textloc2 {
    font-size: 10px;
    text-align: center;
    z-index: 3;
    position: absolute;
    margin-top: 9px;
    margin-left: -90px;
    height: 22px;
    display: inherit;
    text-shadow: none;
    font-weight: bold;
    line-height: 100%;
}

.bubble1 {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/bubbles1.png);
    position: absolute;
    z-index: 2;
    margin-top: 4px;
    margin-left: -70px;
    display: inherit;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.bubble2 {
    content: url(https://dissidiacompendium.com/images/static/icons/misc/bubbles2.png);
    position: absolute;
    z-index: 2;
    margin-top: 4px;
    margin-left: -108px;
    display: inherit;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.fakedivtip {
    position: absolute;
    z-index: 4;
    width: 155px;
    height: 44px;
    padding: 4px;
    margin-top: 4px;
    margin-left: -162px;
    display: inherit;
}

@media screen and (max-width: 800px) {
    .rolesforforce {
        width: 16px;
        height: 16px;
        margin-right: 3px;
        margin-left: 3px;
    }

    .fakedivtip {
        width: 80px;
        height: 22px;
        margin-top: 6px;
        margin-left: -95px;
    }

    .textloc2 {
        font-size: 7px;
        margin-top: 6px;
        margin-left: -58px;
    }

    .textloc1 {
        font-size: 7px;
        margin-top: 6px;
        margin-left: -38px;
    }

    .bubble1 {
        margin-left: -97px;
        width: 40px;
        margin-left: -44px;
    }

    .bubble2 {
        margin-left: -97px;
        width: 62px;
        margin-left: -66px;
    }
}

.nonmatchheader {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #81a0c9 3.67%, #81a0c9 96.44%, rgba(30, 55, 88, 0) 100%);
}

.dim {
    opacity: .4;
}

.charlistholder {
    width: 979px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.centeralign {
    margin-right: auto;
    margin-left: auto;
}


.holder {
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
    text-align: center;
}

.charactercard {
    height: 155px;
    width: 155px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

@media (hover: hover) {
    .charactercard:hover {
        transform: translateY(-1px);
        transition: all .2s;
        cursor: pointer;
        -webkit-filter: drop-shadow(2px 2px 2px #222) brightness(1.1);
        filter: drop-shadow(2px 2px 2px #222) brightness(1.1);
    }
}

.artworkholder {
    transition: all .2s;
    transform-origin: 50% 0;
    padding: 8px;
    background: #43517a;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.5), inset -5px 5px 4px rgba(0, 0, 0, 0.5), inset 0px -5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 19px;
    clear: both;
    margin-top: 5px;
}

@media screen and (max-width: 825px) {
    .artworkholder {
        margin-top: 0px;
        border-radius: 0 0 19px 19px;
        box-shadow: none;
        border-left: solid 3px #7a7a7a;
        border-right: solid 3px #7a7a7a;
        border-bottom: solid 3px #7a7a7a;
    }
}

.characterholder {
    transition: all .2s;
    transform-origin: 50% 0;
    padding: 8px;
    background: #43517a;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.5), inset -5px 5px 4px rgba(0, 0, 0, 0.5), inset 0px -5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 19px;
    clear: both;
    margin-top: 5px;
}

.characterholder li {
    width: 155px;
    height: 155px;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
    transition: all .2s;
}

.gear_butt {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

@media screen and (max-width: 1050px) {
    .charlistholder {
        width: 820px;
    }
}

@media screen and (max-width: 890px) {
    .charlistholder {
        width: 658px;
    }
}

@media screen and (max-width: 800px) {
    .gear_butt {
        height: 16px;
        width: 16px;
    }

    .charlistholder {
        width: 710px;
    }

    .characterholder li {
        height: 93px;
        width: 93px;
    }

    .charactercard {
        height: 93px;
        width: 93px;
    }
}

@media screen and (max-width: 785px) {
    .charlistholder {
        width: 608px;
    }
}

@media screen and (max-width: 690px) {
    .charlistholder {
        width: 508px;
    }
}

@media screen and (max-width: 580px) {
    .charlistholder {
        width: 407px;
    }
}

@media screen and (max-width: 480px) {
    .charlistholder {
        width: 306px;
    }
}

@media screen and (max-width: 370px) {
    .charlistholder {
        width: 205px;
    }
}