.gearimage {
    height: 182px;
    width: 256px;
}

.fullnow {
    width: auto !important;
    margin-left: auto !important;
}

.geartoplevel {
    text-align: center;
    display: flex;
    align-items: center;
}

.spacearound2 {
    align-items: center;
}

.splitrow {
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.gearimageholder {
    position: relative;
}

.geartitletext {
    display: inline-table;
}

.gearfaceholder {
    width: 128px;
    height: 40px;
    display: block;
    position: relative;
    color: white;
    margin: 0px;

}

.gearfaceicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gearfacetext {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-bottom: -5px;
    white-space: nowrap;
}

.gearfaceholder span {
    display: block !important;
}

.flexdisplay {
    display: flex;
}

.gearCPReqHolder {
    display: table;
    width: 95px;
    margin-left: auto;
    padding-right: 5px;
}

.spacearound {
    display: flex;
    align-items: center;
}

.newbackbanner {
    background-color: #4c4c4c;
}

.newblue {
    background-color: #242b35;
}

.subpassiveflair {
    margin-bottom: 5px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background: linear-gradient(90deg, #242b35 0%, #242b35 16%, rgba(77, 86, 97, 0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.subpassiveflair2 {
    margin-bottom: 5px;
    border-top: 1px #433e22f0 solid;
    border-bottom: 1px #433e22f0 solid;
    background: linear-gradient(90deg, #6d642ff0 0%, #766b31f0 16%, rgba(77, 86, 97, 0) 100%);
    filter: drop-shadow(1px 1px 1px #222);
    -webkit-filter: drop-shadow(1px 1px 1px #222);
}

.statsflair {
    border-collapse: collapse;
    text-align: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    min-width: 250px;
    margin-top: 10px;
    border: 2px black solid;
    background: #43517a;
}

.statframe {
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

.statsflairperstat {
    text-align: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    background: #91a3d8;
}

.rightborder {
    border-right: 2px black solid;
}

.leftborder {
    border-left: 2px black solid;
}

.topborder {
    border-top: 2px black solid;
}

.gearinfonameholder {
    padding: 5px;
    padding-left: 8px;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
}

.statstable {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

.statstablenonmoble {
    margin-left: auto;
    margin-right: 20px;
    border-spacing: 0px;
}

.tableven {
    min-width: 40px;
}

.lsmaller {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.tablemobile {
    display: none;
    width: 100%;
}

.click {
    cursor: pointer;
}

.tablenonmobile {
    display: table;
}

.blackbg {
    background-color: #000000;
}

.greybackground {
    background-color: #8e8f8f;
}

.blackcapborder {
    border-right: 2px black solid;
    border-left: 2px black solid;
}

.whitetopborder {
    border-top: 2px white solid !important;
}

.whiterightborder {
    border-left: 2px white solid;
    border-right: 2px white solid !important;
}

.whitebottomborder {
    border-bottom: 2px white solid !important;
}

.spoiler_text {
    text-align: center;
    display: inline;
}

@media (hover: hover) {
    .gearfaceholder:hover {
        transform: translateY(-1px);
        color: #f7f91d;
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2);
        transition: all ease 0.3s;
    }

    .clicky:hover {
        transform: translateY(-1px);
        color: #f7f91d;
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
        transition: all ease 0.3s;
        cursor: pointer;
    }

    .spoiler_text:hover {
        transform: translateY(-1px);
        color: #f7f91d;
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
        transition: all ease 0.3s;
        cursor: pointer;
    }
}

.gearinfobanner {
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 5px;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    clear: both;
    border: solid 3px #d9dade;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px #000000;
    transition: .4s;
    font-size: 1rem;
}

@media screen and (max-width: 900px) {
    .gearinfobanner {
        font-size: .6rem;
    }
}

@media screen and (max-width: 800px) {
    .spoiler_text{
        font-size: 12px;
    }
    .gearfaceicon {
        height: 28px;
        width: 82px;
    }

    .gearfaceholder {
        width: 82px;
        height: 30px;
    }

    .tablemobile {
        margin-top: 5px;
        display: table;
    }

    .tablenonmobile {
        display: none;
    }

    .lsmaller {
        width: 16px;
        height: 15px;
        display: inline-table;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .gearinfonameholder {
        margin-left: 0px;
        width: calc(100% - 19px);
    }

    .gearCPReqHolder {
        width: 85px;
    }

    .geartitletext {
        display: inline-table;
    }

    .gearimage {
        height: 91px;
        width: 128px;
    }
}

@media screen and (max-width: 700px) {

    .gearinfobanner {
        margin-left: 0px;
        width: auto;
        font-size: .8rem;
    }
}