#welcome{
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 15px !important;
    list-style: none;
    padding-top: 8px;
    background: #cecece;
    padding-left: 0px;
    padding-bottom: 8px;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.5), inset -5px 5px 4px rgba(0, 0, 0, 0.5), inset 0px -5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 19px;
    clear: both;
    margin-bottom: 4px;
}

@media (hover: hover) {
    .updatelink:hover{
        color: yellow;
        transition: .3s ease color;
    }
}

.nomargtop{
    margin-top: 0px !important;
}
.updatelink{
    text-decoration: underline;
    color: rgb(183 165 0);
}

.homewelcomeholder{
    max-width: 900px;
    margin: auto;
    text-align:left;
}
.UpdateTable{
    width: 100%;
    transition: all .2s;
    transform-origin: 50% 0;
    padding: 8px;
    background: #43517a;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.5), inset -5px 5px 4px rgba(0, 0, 0, 0.5), inset 0px -5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 19px;
    clear: both;
}
.squallsmile{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/squallsmile.png");
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    margin-left: 5px;
    height: 35px;
}

.vayne{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/vayne2.png");
    display: block;
    background-size: contain;
    height: 35px;
}

.stragocrazy{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/stragocrazy2.png");
    display: block;
    background-size: contain;
    height: 35px;
}

.liliwink{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/liliwink2.png");
    display: block;
    background-size: contain;
    height: 35px;
}

.alisaie{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/alisaie2.png");
    display: block;
    background-size: contain;
    height: 35px;
}
.aphmau{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/aphmau2.png");
    display: block;
    background-size: contain;
    height: 35px;
}

.emojiholder{
    display: flex;
    width: fit-content;
    margin: auto;
}

.updatedate{
    padding-top: 10px;
    display: block;
    width: 200px;
    border-right: 2px black solid;
}

.updatetitle{
    display: block;
    width: auto;
    font-size: larger;
    border-bottom: 2px black solid;
    padding: 10px;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, rgba(30, 55, 88, 0.940205) 3.67%, rgba(30, 55, 88, 0.85) 96.44%, rgba(30, 55, 88, 0) 100%);
}

.updatemain{
    width: 95%;
    padding: 5px;
    padding-left: 15px;
    text-align: left;
}

.titlemainupdateholder{
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #696969 3.67%, #696969 96.44%, rgba(30, 55, 88, 0) 100%);
    width: 100%; 
}


.notop{
    padding-top: 0px !important;
}

.charalistflarholder{
    transition: all .2s;
    transform-origin: 50% 0;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #b2b2b4 3.67%, #b2b2b4 96.44%, rgba(30, 55, 88, 0) 100%);
    clear: both;
}

#red{
    color: rgb(196, 107, 107);
}

.nobottom{
    border-bottom: 0px !important ;
}
.temptogglespacer{
    margin-top: 5px;
    margin-bottom: 2px;
}

.updatesholder{
    padding: 15px !important;
    list-style: none;
    padding-top: 8px;
    background: #43517a;
    padding-left: 0px;
    padding-bottom: 8px;
    box-shadow: inset 5px 0px 4px rgb(0 0 0 / 50%), inset -5px 5px 4px rgb(0 0 0 / 50%), inset 0px -5px 4px rgb(0 0 0 / 50%);
    border-radius: 19px;
    clear: both;
    margin-bottom: 5px;
}

.lastupdate {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #81a0c9 3.67%, #81a0c9 96.44%, rgba(30, 55, 88, 0) 100%);
}

.centertext{
    text-align: center;
}

.discord{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/DiscordWhite.svg");
    height: 2em;
    margin-bottom: -.8em;
    margin-top: -3em;
    filter:  invert(0.5) sepia(1) saturate(9) hue-rotate(1104deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
    -webkit-filter:  invert(0.5) sepia(1) saturate(9) hue-rotate(1104deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
}
@media (hover: hover) {
.discord:hover{
    filter: invert(0) sepia(1) saturate(100) hue-rotate(1074deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
    -webkit-filter: invert(0) sepia(1) saturate(100) hue-rotate(1074deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
}
}

.discordcredit{
    content: url("https://dissidiacompendium.com/images/static/icons/misc/Discord-Wordmark-White.svg");
    height: 1em;
    margin-bottom: -.1em;
    margin-top: -.5em;
    filter:  invert(0.5) sepia(1) saturate(9) hue-rotate(1104deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
    -webkit-filter:  invert(0.5) sepia(1) saturate(9) hue-rotate(1104deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
}
@media (hover: hover) {
.discordcredit:hover{
    filter: invert(0) sepia(1) saturate(100) hue-rotate(1074deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
    -webkit-filter: invert(0) sepia(1) saturate(100) hue-rotate(1074deg) drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
}
}

.updateunit{
    display: flex;
    transition: all .2s;
    transform-origin: 50% 0;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(30, 55, 88, 0) 0%, #b2b2b4 3.67%, #b2b2b4 96.44%, rgba(30, 55, 88, 0) 100%);
    clear: both;
    border-bottom: solid black 2px;
}

.singlenemyholder{
    display: block;
    transform-origin: 50% 0;
    max-width: 800px;
    margin: auto;
    clear: both;
    padding: 0%;
    list-style-type: disc;
}
@media screen and (max-width: 800px) {
    .discord{
        height: 1.5em;
        margin-bottom: -.5em;
        margin-top: -.1em;
    }
    .discordcredit{
        height: 1em;
        margin-bottom: -.1em;
        margin-top: -.5em;
    }
    .homewelcomeholder {
        font-size: smaller;
    }
    .updatetitle{
        font-size: smaller;
    }
    .lastupdate{
        font-size: smaller;
    }
    .updatedate{
        width: auto;
        border-right: 0px;
        border-bottom: 2px black solid;
        padding-bottom: 5px;
    }
    .updateunit{
        font-size: small;
        display: block;
    }  
}

@media screen and (max-width: 530px) {
    .squallsmile{
        height: 25px;
    }
    .stragocrazy{
        height: 25px;
    }
    .alisaie{
        height: 25px;
    }
    .aphmau{
        height: 25px;
    }
    .liliwink{
        height: 25px;
    }
    .vayne{
        height: 25px;
    }
    .summonimglink{
        width: 250px;
    }
}

.smallerbanners{
    width: 450px;
}


@media screen and (max-width: 870px){
    .smallerbanners{
      width: 300px;
      height: auto;
      padding: 5px;
    }
}
  
@media screen and (max-width: 450px){
    .maintitle{
        font-size: smaller;
    }
    .smallerbanners{
        width: 250px;
        padding: 5px;
    }
}

.nomargbottom{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.summonupdatelist{
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.summonimglink{
    filter: drop-shadow(2px 2px 2px #222);
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 2px;
}

@media screen and (max-width: 360px){
    .summonimglink{
        width: 200px;
    }
}

@media screen and (max-width: 380px){
    .smallerbanners{
      width: 200px;
      padding: 5px;
    }
}

@media (hover: hover) {
    .summonimglink:hover{
        transform: translateY(-1px);
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2);
        transition: all ease 0.3s;
    }
}

.jpflagupdate{
    content: url(https://dissidiacompendium.com/images/static/icons/misc/japan.svg);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    height: 20px;
    filter:  drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
    -webkit-filter: drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
}

.jpflagtick{
    content: url(https://dissidiacompendium.com/images/static/icons/misc/japan.svg);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    height: 20px;
    filter:  drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black) drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black) drop-shadow(2px 2px 2x #222);
}

.glshadow{
    filter: drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(2px 2px 2x #222);
}

.jpflagcharcard{
    content: url(https://dissidiacompendium.com/images/static/icons/misc/japan.svg);
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    height: 10px;
    filter:  drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
    -webkit-filter: drop-shadow(1px 0px 0px black) drop-shadow(0px 1px 0px black) drop-shadow(0px -1px 0px black) drop-shadow(-1px 0px 0px black);
}

@media screen and (max-width: 800px){
    .jpflagcharcard{
        height: 6px;
    }
}

.updateunitholder{
    border-top: 2px solid black;
    background: linear-gradient( 90deg , rgba(30, 55, 88, 0) 0%, #263252 3.67%, #263252 96.44%, rgba(30, 55, 88, 0) 100%);
}

.outline{
    border-top: 2px black solid;
}