/*Nav Menu*/
.access{
    transition-duration: .3s;
    position: relative;
    margin-bottom: -12px;
    display: block;
    margin-top: 10px;
    width: 100%;
}

.menu{
    margin: 0 1em;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.menu ul{
    padding-left: 0;
    display: table;
    margin: 0 auto;
    list-style: none;
}

.menu li{
    padding: 0.5em 1.5em;
    border-left: solid 3px #7a7a7a;
    border-right: solid 3px #7a7a7a;
    border-top: solid 3px #7a7a7a;
    margin-bottom: 10px;
    background-color: #3f5b92;
    display: block;
    float: left;
    margin: 0 3px;
    margin-bottom: 12px;
    white-space: nowrap;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 -0.2em 4px rgba(0,0,0,0.1) inset;
}

.navactive{
    color: #f7f91d;
    transition: .3s ease color;
}
.menu li:hover{
    color: #f7f91d;
    transition: .3s ease color;
}

.menu button{
    display: none;
    margin-left: 20px;
}


.prime_nav a{
    color: #FFF;
}

.active li {
    padding: 0.5em 1.5em;
    border-left: solid 3px #7a7a7a;
    border-right: solid 3px #7a7a7a;
    border-top: solid 3px #7a7a7a;
    border-bottom: solid 12px #81a0c9;
    margin-bottom: -2px;
    background-color: #81a0c9;
    white-space: nowrap;
    display: block;
    float: left;
    margin: 0 3px;
    white-space: nowrap;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 0em 0px rgba(0,0,0,0.1) inset;
}

#navtoggle{
    display: none;
}

#table{
    display: table;
}

#hidden{
    display: table;
}

#shown{
    display: table;
}

@media screen and (max-width: 800px) {
    #hidden{
        opacity: 0;
        visibility: hidden; 
        transition:.2s;
    }

    #shown{
        margin-top: 5px;
        transition:.2s;
    }

    #logo{
        height: 45px;
        width: auto;
    }
    .menuspan{
        margin-bottom: auto;
        margin-top: auto;
    }

    .mobilelines{
        margin-top: auto;
        margin-bottom: auto;
        height: 20px;
        width: 25px;
        filter: drop-shadow(1px 0 0 rgb(0, 0, 0)) drop-shadow(0 1px 0 rgb(0, 0, 0)) drop-shadow(0 -1px 0 rgb(0, 0, 0)) drop-shadow(-1px 0 0 rgb(0, 0, 0));
        -webkit-filter: drop-shadow(1px 0 0 #000000) drop-shadow(0 1px 0 #000000) drop-shadow(0 -1px 0 #000000) drop-shadow(-1px 0 0 #000000);
    }
    .active li {
        background: linear-gradient(180deg, rgba(122,122,122,1) 0%, rgba(119,130,153,1) 9%, rgba(63,91,146,1) 24%, rgba(63,91,146,1) 75%, rgba(23,23,23,1) 97%, rgba(15,15,15,1) 100%) !important;
    }
    .menu button{
        display: flex;
    }
    .menu .prime_nav{
        display: none;
        width: 100%;
    }
    .menu{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 12px;
    }

    .menu li{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        background: linear-gradient(180deg, rgba(122,122,122,1) 0%, rgba(153,154,156,1) 9%, rgba(106,106,106,1) 24%, rgba(134,134,134,1) 75%, rgba(62,62,64,1) 97%, rgba(15,15,15,1) 100%);
        border-bottom: 2px black solid;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
        margin-bottom: 0px;
    }

    #shown a{
        width: 100%;
        top: 25px;
    }

    #navtoggle{
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-align: left;
        padding: 10px;
        padding-top: 15px;
        z-index: 11;
        height: 25px;
    }

    .prime_nav{
        position: fixed;
        top: 45px;
        z-index: 99;
    }
}